*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    display:flex;

}

.logo{
    font-size: large;
    font-weight: 200;
    background-color: rgb(3, 48, 85);
    color: thistle;
}

nav{
background-color: teal;
}

nav li{
    list-style: none;
}
.nav-list{
    text-decoration:none;
    font-size: 20px;
    color: white;
}